:root {
    --fuenteHeading: 'Montserrat', sans-serif;
    --fuenteParrafos:'Raleway', sans-serif;
    --colorFondo: #2b2a29;
    --colorOscuro: #202020;
    --colorPrimario: #ddaa1e;
    --colorSecundario: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    width: 100%;
    height: 100vh;
    font-family: var(--fuenteParrafos);
    font-size: 1rem;
    background-color: var(--colorFondo);
}

h1,h2,h3 {
    font-family: var(--fuenteHeading);
}
p {
    font-family: var(--fuenteParrafos);
    color: var(--colorSecundario);
}

span {
    color: var(--colorPrimario);
}

/* HEADER */

.navbar-toggler{
    color: var(--colorSecundario);
}
.flexible {
    width: 100%;
    justify-content: flex-end;
}
.logo {
    color: var(--colorPrimario);
}
.logo:hover {
    color: var(--colorSecundario);
}

/* BARRA DE NAVEGACIÓN */
.navegacion {
    background-color: var(--colorOscuro);
}
 .navegacion a {
     font-size: 1.2rem;
     margin: .5rem;
     color: var(--colorPrimario);
     text-decoration: none;
     text-transform: uppercase;
}


/** Imagen de Fondo **/
.hero {
    background-image: url(../img/vaso-fondo.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100%;
    position: relative;
    background-position: bottom;
    background-repeat: no-repeat;
}
.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
}
.imagen-texto {
    max-width: 40rem;
    position: absolute;
    top: 20%;
    padding: 1rem;
    color: var(--colorSecundario);
}
.imagen-texto h2{
    font-size: 3rem;
    font-weight: 800;
}
.imagen-texto p {
    font-size: 1.2rem;
}
.link-catalogo {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: .7rem;
    margin-top: 10px;
    font-size: 1.3rem;
    color: var(--colorPrimario);
    font-weight: bold;
    border: 1.5px solid var(--colorPrimario);
    border-radius: 4px;
}
.link-catalogo:hover {
    background: var(--colorPrimario);
    color: #000000;
}

/* NOSOTROS */
.about {
    width: 100%;
}
.about .image img {
    width: 100%;
}
