body{
    background-image: url(./muntimedia/img/IMG-20230327-WA0010.jpg);
}
.asterisco{
    color: red;
}
.abajoimg{
    text-align: center;
    color: black;
    font-size: 18px;
}
.verMas{
    text-align: center;
    text-decoration: none;
    color: black;
}
#resultadoValidacion{
    background-color: rgba(244, 91, 91, 0.698);
    color: red;
}
.asterisco{
    color: red;
}
#resultadoValidacion{
    background-color: rgba(244, 91, 91, 0.698);
    color: red;
}
.botEnviar{
    margin-top: 30px;
    height: 40px;
    width: 70px;
    border-radius: 5px;
    background-color: rgb(0, 132, 255);
    color: aliceblue;
}
.botEnviar:hover{
    background-color: #2345f1;
}
/* alerta de mensajes error */
.error-message {
    margin-left: 20px;
    color: red;
}
.error-message.nombre-error {
    background-color: #FFCACA;
}
.swal2-html-container{
    text-align: inherit;
    margin-inline: auto;
    background-color: #FFCACA;
}